# 0. intro

## 단축키(shortcut)
- ctrl + enter: 현재 셀 실행
- shift + enter: 현재 셀 실행 >> 아래로 이동
- alt + enter: 현재 셀 실행 >> 아래 새 셀 추가
- esc: 방향키로 셀 선택 가능 >> enter: 셀 선택
      m: markdown으로 변경

## 주의사항
1. 대소문자 주의: ex. Apple <-> apple
2. 띄어쓰기 주의: ex. `git add.` <-> `git add .`
3. 오타 주의: ex. message <-> massage

## 1. 변수
```python
var_name = value #변수명에 특정 값을 입력한단 것 의미
```
- 변수명은 뭐든 사용O
    - 다만 영어, 숫자, _만 이용할 것
    - 키워드는 불가능
- **개념 원리**: 객체라는 상자가 있음 >> 이 상자의 이름을 a라고 할 때 >> a에 1이라는 값을 부여하는 것
- 파이썬: 컴파일/링크 단계 생략 가능한 인터프리터 언어 >> 대화형으로 사용 가능
- 컴파일: 자연어를 컴퓨터가 이해 가능한 언어로 전환/번역하는 작업 >> 통번역하는 방식
    - 이를 생략하니 파이썬은 빠르게 작업 가능한 것 >> 파일은 줄마다 실시간 번역
    - 대신 파이썬은 개발 시간은 빨라도, 실행 시간은 느림 >> C/Java: 개발 시간 길지만, 실행 시간 빠름

In [105]:
a = 1 #1이라는 값을 변수a에 담은 것
print(a)

1

In [106]:
#파이썬의 기본명사인 '키워드'는 변수명X
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [107]:
#단어 띄어쓰기X >> 언더바로 연결하기
seoul_dust_rate = 150
print(seoul_dust_rate)

150

## 1-1. number

- 파이썬: 상자(객체) 만들면 숫자든 문자든 뭐든 넣을 수 있음
    - 이외 언어: `int a` 등 숫자만 넣을 수 있는 객체 등 별도로 있음
- int: 정수
- float: 실수
- complex: 복소수

In [109]:
a = 100
b = 1.1
c = 1 + 1j #j: 복소수 >> 실수보다 넓은 개념

print(a)
print(b)
print(c)

100
1.1
(1+1j)

In [112]:
print(type(a)) #type():변수 실행하는 함수 >> a라는 변수의 유형을 알려달라는 함수 >> int: 정수
print(type(b)) #float: 실수
print(type(c)) #복소수(complex)

<class 'int'>
<class 'float'>
<class 'complex'>

## 1-2. boolean

In [120]:
a = True #대문자로 적어야 함
b = False

print(a)
print(b)

print(type(a))
print(type(b))

True
False
<class 'bool'>
<class 'bool'>

## 1-3. string(문자열)
- `'`, `"` 이용해 표현

In [132]:
a = 'hello'
b = "hi"
print(a)
print(b)

hello
hi

In [58]:
#특정 단어 강조할 때, 문자열과 강조하려는 단어 서로 다른 기호 써야 함
print("hello my name is 'sori'")

hello my name is 'sori'

In [114]:
#줄바꿈 하고 싶다면
a = '''
hello
my
name
'''
#근데 앞에 n 등 붙는 이유는, 이게 파이썬 언어기 때문

print(a)

hello
my
name

### string interpolation: 문자열 사이에 변수 넣기

- %-formatting
- str.format()
- f-string

In [71]:
age = 10

In [131]:
# 1. %-formatting 방식
print('홍길동은 %s살입니다.' % age) #age 상자를 앞에 대입해서 a값에 따라 답 달라지게 만든 것

# 2. str.format() 방식
print('홍길동은 {}살 입니다.' .format(age))

# 3. f-strng 방식 >> 우리가 가장 많이 쓸 방식임
print(f'홍길동은 {age}살 입니다.')

홍길동은 10살입니다.
홍길동은 10살 입니다.
홍길동은 10살 입니다.

## 2. 연산자

### 2-1. 산술 연산자

In [92]:
a = 2
b = 5

In [83]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
-3
10
0.4

In [96]:
print(a ** b) #제곱
print(a // b) #몫
print(a % b) #나머지

32
0
2

In [97]:
result = divmod(a, b) #divmod(): 나눗셈 도구 >> a를 b로 나눈 뒤, 몫 and 나머지 세트 도출하는 함수
print(result)

(0, 2)

### 2-2. 비교 연산자

In [102]:
a = 5
b = 10
#a > b가 맞는지 확인하는 연산자 >> T or F 값 도출
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False

In [103]:
# a=b인지 확인하는 연산자
print(a == b) 

#a와 b가 다른지 확인하는 연산자
print(a != b)

False
True

In [104]:
#문자열에도 비교연산자 활용 가능
print('hi' == 'hi')
print('hi' == 'Hi')

True
False

### 2-3. 논리연산자
- **and**: 양쪽 모두 `True`일 때, `True` 반환
- **or**: 둘 중 하나라도 `True` 있을 때, `True` 반환 >> 반대로 양쪽 모두 `False`일 때, `False` 반환
- **not**: 상태를 부정하는 역할함

In [117]:
print(True and True) #둘다 T여서 T반환
print(True and False)
print(False and True)
print(False and False) #둘다 F여서 F반환

True
False
False
False

In [119]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [121]:
a = True
print(not a)

False

In [129]:
#단축평가: and
print(3 and 5)
print(3 and 0)
print(0 and 5)
print(0 and 0)

5
0
0
0

In [130]:
#단축평가: or
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

## 2-4. 복합연산자

In [144]:
a = 2
b = 3

In [143]:
a = a + b #등호: a+b 값을 변수a에 저장한단 의미
print(a)

5

In [148]:
a += b
a -= b
a *= b
a /+ b

18.0

## 2-5. 기타연산자

In [151]:
#문자열에서 +: 연결(concatenation) >> 숫자의 경우 산술연산자
a = 'hi'
b = 'hello'
print(a + b)
#처음에 나온 게 문자/숫자인지 따라 연산자 역할 달라짐 >> `1 + b` 일 경우, 먼저 나온 게 숫자이므로 산술연산자로 쓰이므로 >> 오류 나게 됨

hihello

In [154]:
#list일 경우: 동일히 연결하는 기타연산자로 쓰임
a = [1, 2, 3]
b = [2, 3, 4]
print(a + b)
print(1 in a) #in: 숫자 1이 list a 내에 포함돼 있는지

[1, 2, 3, 2, 3, 4]
True

In [157]:
a = 500
b = 500
print(a == b) #a와 b의 값이 동일한지 묻는 연산자
print(a is b) #a가 b와 동일한 객체인지 묻는 연산자
#둘다 비교하는 건 같지만, 구체적인 역할이 다름

True
False

- 컴퓨터의 RAM: 높을수록 멀티태스킹 잘 됨 >> RAM 큰 것 = 부엌의 조리대가 큰 것과 비슷
- `is`: 데이터 값 자체는 같을지라도, 메모리 상 객체 저장되는 위치 다르면 두 값이 같지 않다고 인식 >> 그래서 False 도출하는 것
    - 256까지는 자주 쓰는 값으로 인식 >> 그래서 객체 다르더라도, 여기까지 값은 위치 동일하게 저장토록 미리 지정 >> 256까지는 `is` 하면 `True` 값 나옴

### 연산자 우선순위
0. ()로 그룹화된 경우
1. **(제곱)
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자, in, is
5. not
6. and
7. or

## 3. 형변환

## 3.1 암시적 형변환
- 파이썬이 자동으로 형변환해주는 것 의미

In [164]:
a = True
b = False
c= 1

print(a + b) # T=1(전기 흐름), F=0(전기 안 흐름) >> 이렇게 자동으로 인식해 계산한 것
print(a + c)

if 1:
    print('hello') # 1=True로 자동으로 파이썬이 인식해서 값 도출한 것

1
2
hello

## 3.2 명시적 형변환
- int(): 괄호 안 숫자를 정수로 변환
- float(): 실수로 변환
- str(): 숫자로 변환
- bool(): 분리형으로 변환

In [178]:
# 1. int()
a = '3'
print(type(a)) #a의 값이 문자형 3이기 때문
print(int(a)) #문자형인 a를 숫자형으로 바꿔서 출력 >> 숫자형으로 바꿀 수 있는 문자형만 int() 가능

<class 'str'>
3

In [179]:
# 2. str()
a = 1
b = '반'

#원데이터는 유지한 채, 사용할 때만 데이터 형태 바꾸기
print(str(a) + b) #숫자형인 a를 문자형으로 데이터 형태 바꾼 뒤 계산

1반

In [180]:
# 3. bool()
a = 1
b = 0
c = 123
print(bool(a))
print(bool(b))
print(bool(c))

# 0만 F, 이외 음수 포함 모든 수는 T

True
False
True

In [188]:
# 리스트의 경우: 리스트는 데이터의 집합체 >> 리스트 내 데이터 1개라도 있으면 T, 없으면 F로 인식
print(bool([ ]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스 자료형

In [7]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [15]:
location = ['seoul', 'busan', 'incheon']
print(location) # list 내 모든 데이터 출력
print(location[0]) #파이썬은 0부터 시작하므로, 첫 번째 데이터만 출력

location[1] = 'deogu' # 다른 데이터로 교체
print(location)

['seoul', 'busan', 'incheon']
seoul
['seoul', 'deogu', 'incheon']

In [ ]:
## 4.2 tuple(튜플)

In [17]:
location = ('seoul', 'busan', 'incheon')
print(location)
print(location[0])

('seoul', 'busan', 'incheon')
seoul

In [18]:
location[2] = '부산'
print(location[0])

TypeError: 'tuple' object does not support item assignment

## 4.3 range

In [22]:
lotto = range(45)
print(lotto)

print(list(lotto)) # lotto 속에 어떤 데이터 있는지 모두 보여줌 >> 0부터 44까지 있음

# 1부터 45까지의 숫자를 저장하고 싶다면?
lotto = range(1, 46)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]
range(1, 46)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]

In [28]:
even = range(2, 20, 2) # 2~19 숫자 중 2씩 증가한 범위만 포함 >> 그래서 2~18까지 짝수만 출력됨
print(list(even))

numbers = range(0, -20, -2) # -19~0 숫자 중 -2씩 감소한 범위만 포함 >> -18~0까지 짝수만 출력
print(list(numbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, -2, -4, -6, -8, -10, -12, -14, -16, -18]

## 4.4 string: 기본 데이터 구조 내용 참고

## 4.5 시퀀스에서 활용 가능한 연산/함수

In [35]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string = '가나다라마'

In [33]:
# indexing: 단일 데이터에 접근하는 방법
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

a
6
0
가

In [37]:
#slicing: 일정 범위 데이터에 접근하는 방법
#var_name[index1:index2]
print(my_list[0:2]) #0번째부터 1번째까지의 데이터 출력됨
print(my_tuple[0:2])
print(my_range[0:2])
print(my_string[0:2])

['a', 'b']
(6, 7)
range(0, 2)
가나

In [43]:
#index 생략
print(my_list[3:]) # 뒤에 비워놓으면 자동으로 끝까지 출력함
print(my_list[:3]) # 맨 앞부터 특정 범위까지 자르는 것

['d', 'e']
['a', 'b', 'c']

In [45]:
# 음수 인텍스: 뒤에서부터 숫자를 세는 방식
print(my_list[-1]) # 뒤에서 첫 번째 데이터 출력
print(my_list[-3:-1]) # 뒤에서 1번째부터 2번째까지 출력
#음수 인덱스로 할 때 -1은 맨 뒤의 데이터 의미, 0으로 시작하는 게 아님

e
['c', 'd']

In [47]:
# step: 특정 간격만큼만 출력할 때
print(my_list[::2]) # 맨 앞부터 2칸씩 증가한 범위만 출력

['a', 'c', 'e']

In [50]:
# in: 모두 동일한 시퀸스에서 가능함
print(1 in my_list) # my_list에 1이라는 숫자 들어있는지 묻는 것

# no in
print(1 not in my_list) # 1이라는 숫자가 my_list에 없는지 묻는 것

False
True

In [52]:
# comcatennation(연결): 시퀸스형 자료는 전부 연결 가능함 >> 동일한 자료끼리만 연결 가능 >> 리스트+리스트, 튜플+튜플 등
print(my_list + [1, 2, 3, 4, 5]) # 리스트 2개 연결한 것

['a', 'b', 'c', 'd', 'e', 1, 2, 3, 4, 5]

In [58]:
# 곱셈(*)
print(my_list * 2) # 곱셈 사칙연산이 아닌, 2번 반복해달란 것 >> 곱셈이 아닌, 연결을 몇 번 할 것인지인 것
print('가' * 5)
print([0] * 10) # 0 들어있는 리스트를 10번 연결하는 것 >> 그러면 0 10개 들어 있는 리스트 만들어짐

['a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']
가가가가가
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [63]:
len(my_list) # 길이 출력해줌
max(my_list) # 가장 큰 수를 도출함 >> 문자도 가장 뒷 순서의 문자를 큰 수로 인식해 도출
min(my_list) # 가장 작은 값 출력

'a'

## 5. 시퀀스 이외 자료구조

In [65]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {1, 3, 5, 7, 9}

print(my_set_a)
print(my_set_b)

{1, 2, 3, 4, 5}
{1, 3, 5, 7, 9}

In [68]:
print(my_set_a - my_set_b) #차집합
print(my_set_a | my_set_b) #합집합
print(my_set_a & my_set_b) #교집합

{2, 4}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [69]:
location = ['서울', '대구', '대구', '부산', '서울', '대구', '부산']
print(set(location))

{'대구', '부산', '서울'}

## 5.2 사전

In [70]:
my_dict = {'서울': '02', '경기': '031'} # 키를 기준으로만 접근 가능 >> 사전도 의미 기준으로 단어 찾으려면 찾기 힘들듯
print(my_dict['서울'])

02

In [81]:
my_info = {
    'name': 'sori',
    'location': 'seoul',
    'age': 25,
    'skill': ['python', 'git']}
# 리스트는 동일한 자료형을 입력하는 것을 가정, dirctionary는 서로 다른 자료형 입력 가능, 사전 안에 사전 넣을 수도 있음
print(my_info['name']) # dict의 name이라는 키의 value만 출력
print(my_info['skill'][1]) # dict 내에 list 포함돼 있을 때, list의 특정 범위만 도출하는 방법

sori
git

In [82]:
blood =